.accordionHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chevron{
    rotate: 180deg;
    background-color: transparent;
}

.accordionContent{
    
}

.accordionContainer{
}

