.accordionHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .chevronBtn{
        transition: rotate 300ms ease-in-out;
    }

    &[data-state='open']{
        .chevronBtn{
            rotate: 180deg;
        }
    }
}



.accordionContent{
    //height: var(--h);
    //transition: 300ms height ease-in-out;
    
    &[data-state='open']{
        //animation: 300ms heightOpenAnimation ease-in-out;
    }
    
    &[data-state='closed']{
        display: none;
        overflow: hidden;
        //visibility: hidden;
        //height: 0;
        //height: 0;
        //height: var(--h);
        //animation: heightCloseAnimation 300ms ease-in-out;
    }
}

.accordionContainer{
}


@keyframes heightCloseAnimation {
    from{
        height: var(--h);
    }
    to{
        height: 0;
    }
}

@keyframes heightOpenAnimation {
    from{
        height: 0;
    }
    to{
        height: var(--a);
    }
}

