.eventHero{
    padding: $P-6;

    .eventInfo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        //gap: 4rem;

        .eventStatement{
            display: flex;
            flex-direction: column;
            align-items: center;
            //padding: $P-6;

            span{
                font-size: 14px;
                font-weight: 500;
            }

            .infoNotice{
                padding: $P-2 $P-3;
                margin-top: $P-3;
                background-color: $WHITE-3;
                border-radius: .5rem;
            }

            .eventStage{
                word-break: break-word;
            }

            .eventCurrentScore{
                display: flex;
                align-items: center;
                gap: .5rem;
                font-family: var(--font-josefin);
                user-select: none;

                span{
                    font-size: 5rem;
                    font-weight: 700;
                }
            }
        }

        .liveEventStatement{
            .eventCurrentScore{
                span{
                    color: $GREEN-400;
                }
            }

            .eventStage{
                color: $GREEN-400;
            }
        }
    }
}


.eventTeam{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .teamName{
        text-align: center;
        font-weight: 600;
        letter-spacing: .5px;
        word-break: break-word;
    }
}