.timezone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $P-3;

    .filterActionBtns{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}