.brandLogo{
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;

    .text{
        color: $SECONDARY-200;
        font-size: 1rem;
        font-weight: 900;
    }
}