.brandLogo{
    width: 3rem;
    height: 3rem;
    background-color: $SECONDARY-900;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    .text{
        position: absolute;
        top: -3rem;
        right: -.5rem;
        color: $GREEN-400;
        font-size: 4rem;
        font-weight: 900;
    }
}