.button{
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    color: $SECONDARY-200;
    flex-shrink: 0;

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }

    &.primary{
        font-weight: 600;
        padding-inline: $P-3;
        height: 2.25rem;
        border-radius: .5rem;
        background-color: $SECONDARY-800;
        border: 2px solid transparent;
        transition: 200ms border-color ease-in-out;

        &:hover{
            border-color: $GREEN-400;
        }

        &.active{
            background-color: $GREEN-400;
            color: $SECONDARY-900;
        }
    }

    &.secondary{
        font-weight: 600;
        padding-inline: $P-3;
        height: 2.25rem;
        border-radius: .5rem;
        background-color: $SECONDARY-800;

        &:hover{
            background-color: $SECONDARY-700;
        }

    }

    &.icon{
        

        &:hover{
            color: $SECONDARY-100;
        }
    }

    &:is(.tertiary){

    }

    &:is(.underline){

        &:hover{
            text-decoration: underline;
        }
    }
}