.button{
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    color: $SECONDARY-200;
    font-weight: 600;
    letter-spacing: .5px;

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }

    &:is(.secondary){
        padding: $P-2 $P-3;
        border-radius: .5rem;
        background-color: $SECONDARY-800;

        &:hover{
            background-color: $SECONDARY-700;
        }

        &.active{
            background-color: $GREEN-400;
            color: $SECONDARY-900;
        }
    }

    &:is(.icon){
        padding: $P-2 $P-3;
        border-radius: .5rem;
        background-color: $SECONDARY-800;
        font-size: 13px;

        &:hover{
            background-color: $SECONDARY-700;
        }
    }

    &:is(.tertiary){
        padding: $P-2 $P-3;
        border-radius: .5rem;
        background-color: $GREEN-400;
        color: $SECONDARY-700;
    }
}