.tournamentEvents{
    margin-bottom: $P-3;

    .accordionHeader{
        background-color: $WHITE-3;
        padding: $P-1 $P-2;
        border-radius: .5rem;
    }

    .e{
        //display: none;
    }
}