.eventRow{
    --columns: /*3.75rem*/ auto 5.5rem;
    display: grid;
    grid-template-columns: var(--columns);
    padding-block: $P-2;
    font-weight: 500;
    transition: 100ms background-color ease-in-out;
    font-size: 14px;
    border-bottom: 1px solid $SECONDARY-800;
    cursor: default;

    &:hover{
        background-color: $SECONDARY-800;
    }

    @media only screen and (max-width: $MD){
        font-size: 13px;
        --columns: /*3.75rem*/ auto 3.5rem;
    }

    .teams{
        display: flex;
        flex-direction: column;
        gap: .25rem;
        overflow: hidden;
        padding-left: $P-3;
    }

    .teamRow{
        display: flex;
        align-items: center;
        gap: .5rem;

        .teamName{
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .winnerTeam{
            font-weight: 900;
        }

        .tennisPoint{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5rem;
        }

        .scoreContainer{
            --columnLength: 6;
            display: grid;
            grid-template-columns: repeat(var(--columnLength), 1.5rem);
            gap: .5rem;
            place-items: center;

            @media only screen and (max-width: $MD){
                --columnLength: 1;

                &.tennisTeamRow{
                    --columnLength: 2;
                }
            }
            
            .teamScore{
                color: $GREEN-400;
                font-weight: 700;
    
                &.finishOrScheduled{
                    color: $SECONDARY-200;
                }
            }

            .partScore{
                color: $SECONDARY-400;
            }
        }
    }

    
    .stage{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $GREEN-400;
        text-align: center;
        border-left: 1px solid $SECONDARY-800;
        
        .time{
            position: relative;

            .liveBlink{
                position: absolute;
                top: 0;
                right: -.25rem;
                animation: blink 1s infinite ease-in;
                color: $GREEN-400;
            }
        }

        &.finishOrScheduled{
            color: $SECONDARY-200;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}