.eventRow{
    display: grid;
    grid-template-columns: 2fr .25fr;
    padding: $P-2 $P-3;
    //gap: 5rem;
    transition: 100ms background-color ease-in-out;
    font-size: 14px;
    border-bottom: 1px solid $SECONDARY-800;
    cursor: default;

    &:hover{
        background-color: $SECONDARY-800;
    }

    @media only screen and (max-width: $MD){
        font-size: 13px;
        grid-template-columns: 2fr .25fr;
        //gap: 1rem;
    }

    .teams{
        display: flex;
        flex-direction: column;
        gap: .25rem;
        border-right: 1px solid $SECONDARY-800;
    }

    .teamRow{
        display: flex;
        align-items: center;
        gap: .5rem;

        .teamName{
            flex: 1;
        }

        .winnerTeam{
            font-weight: 700;
        }

        .tennisPoint{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5rem;
        }

        .scoreContainer{
            --columnLength: 6;
            display: grid;
            grid-template-columns: repeat(var(--columnLength), 1.5rem);
            gap: .5rem;
            place-items: center;

            @media only screen and (max-width: $MD){
                --columnLength: 2;
            }
            
            .teamScore{
                color: $GREEN-400;
                font-weight: 700;
    
                &.finishOrScheduled{
                    color: $SECONDARY-200;
                }
            }

            .partScore{
                color: $SECONDARY-400;
            }
        }
    }

    .liveBlink{
        position: absolute;
        top: 0;
        right: -.25rem;
        animation: blink 1s infinite ease-in;
        color: $GREEN-400;
    }

    .stage{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $GREEN-400;
        word-break: break-word;
        text-align: center;
        padding-left: 1rem;

        
        .time{
            position: relative;
        }

        &.finishOrScheduled{
            color: $SECONDARY-200;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}