.result{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: $P-2;

    &:hover{
        background-color: $WHITE-3;
    }

    img{
        border-radius: .5rem;
    }

    .info{

        .slug{
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }

}