.navLink{
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    color: $SECONDARY-300;
    font-weight: 600;
    letter-spacing: 1px;

    &.primary{
        letter-spacing: 1px;
        gap: .5rem;
    
        &:hover{
            color: $SECONDARY-100;
        }

        &.active{
            position: relative;
            color: $SECONDARY-100;
    
            &::before{
                position: absolute;
                content: '';
                bottom: 0;
                height: 3px;
                width: calc(100% - 1.75rem);
                border-radius: .5rem;
                background-color: $GREEN-400;
            }
        }
    }

    &:is(.secondary){
        .active{

        }
    }

    &.small{
        padding: $P-3;
        font-size: 13px;
    }

    &.medium{
        padding: $P-4;
    }

    &.large{
        padding: $P-5;
    }
}