.player{
    display: flex;
    gap: .25rem;
    position: relative;

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;

        .roundedImg{
            position: relative;
            
            .incidentBadges{
                position: absolute;
                top: -1rem;
                left: -.5rem;
            }
        
            .rating{
                position: absolute;
                right: -.5rem;
                bottom: .25rem;
            }
        }
        
        .playerName{
            overflow: hidden;
            max-width: 60px;
            text-overflow: ellipsis;
            font-size: 13px;
            font-weight: 500;
        }

    }

}