$PRIMARY-50:  #ffffff;
$PRIMARY-100: #fafafa;
$PRIMARY-200: #f5f5f5;
$PRIMARY-300: #f0f0f0;
$PRIMARY-400: #dedede;
$PRIMARY-500: #c2c2c2;
$PRIMARY-600: #979797;
$PRIMARY-700: #818181;
$PRIMARY-800: #606060;
$PRIMARY-900: #3c3c3c;

$SECONDARY-50:  #f5f5f5;
$SECONDARY-100: #e9e9e9;
$SECONDARY-200: #d9d9d9;
$SECONDARY-300: #c4c4c4;
$SECONDARY-400: #9d9d9d;
$SECONDARY-500: #7b7b7b;
$SECONDARY-600: #555555;
$SECONDARY-700: #434343;
$SECONDARY-800: #262626;
$SECONDARY-900: #000000;

$DARK-GRAY-50:  #f6fbfd;
$DARK-GRAY-100: #f1f7f8;
$DARK-GRAY-200: #ebf1f2;
$DARK-GRAY-300: #dee4e5;
$DARK-GRAY-400: #bcc1c2;
$DARK-GRAY-500: #9da2a3;
$DARK-GRAY-600: #74797a;
$DARK-GRAY-700: #606566;
$DARK-GRAY-800: #414546;
$DARK-GRAY-900: #202425; /**/

$PURPLE-50:  #fff4ff;
$PURPLE-100: #fbecfd;
$PURPLE-200: #f0e2f3;
$PURPLE-300: #dfd1e2;
$PURPLE-400: #bbadbd;
$PURPLE-500: #9a8d9c;
$PURPLE-600: #726574;
$PURPLE-700: #5e5260;
$PURPLE-800: #3f3441;
$PURPLE-900: #1e1420;


$DARK-GREEN-50:  #e0eeee;
$DARK-GREEN-100: #c0d3d1;
$DARK-GREEN-200: #9bb5b3;
$DARK-GREEN-300: #769795;
$DARK-GREEN-400: #5b817f;
$DARK-GREEN-500: #406c6a;
$DARK-GREEN-600: #365e5c;
$DARK-GREEN-700: #284b49;
$DARK-GREEN-800: #1b3837;
$DARK-GREEN-900: #0c2423;

$GREEN-50:  #e1fcef;
$GREEN-100: #b6f5d8;
$GREEN-200: #7eefbf;
$GREEN-300: #00e9a3; /**/
$GREEN-400: #00e28c;
$GREEN-500: #00d979;
$GREEN-600: #00c86d;
$GREEN-700: #00b45e;
$GREEN-800: #00a252;
$GREEN-900: #00813b;

$WHITE-1: hsla(0, 0%, 100%, 0);
$WHITE-2: hsla(0, 0%, 100%, 0.013);
$WHITE-3: hsla(0, 0%, 100%, 0.034);
$WHITE-4: hsla(0, 0%, 100%, 0.056);
$WHITE-5: hsla(0, 0%, 100%, 0.086);
$WHITE-6: hsla(0, 0%, 100%, 0.124);
$WHITE-7: hsla(0, 0%, 100%, 0.176);
$WHITE-8: hsla(0, 0%, 100%, 0.249);
$WHITE-9: hsla(0, 0%, 100%, 0.386);
$WHITE-10: hsla(0, 0%, 100%, 0.446);
$WHITE-11: hsla(0, 0%, 100%, 0.592);
$WHITE-12: hsla(0, 0%, 100%, 0.923);

$BLACK-1: hsla(0, 0%, 0%, 0.012);
$BLACK-2: hsla(0, 0%, 0%, 0.027);
$BLACK-3: hsla(0, 0%, 0%, 0.047);
$BLACK-4: hsla(0, 0%, 0%, 0.071);
$BLACK-5: hsla(0, 0%, 0%, 0.090);
$BLACK-6: hsla(0, 0%, 0%, 0.114);
$BLACK-7: hsla(0, 0%, 0%, 0.141);
$BLACK-8: hsla(0, 0%, 0%, 0.220);
$BLACK-9: hsla(0, 0%, 0%, 0.439);
$BLACK-10: hsla(0, 0%, 0%, 0.478);
$BLACK-11: hsla(0, 0%, 0%, 0.565);
$BLACK-12: hsla(0, 0%, 0%, 0.910);

$BADGE-WIN: #00a83f;
$BADGE-DRAW: #f3a000;
$BADGE-LOSE: red;

//PADDING
$P-1: .25rem;
$P-2: .5rem;
$P-3: 1rem;
$P-4: 1.125rem;
$P-5: 1.5rem;
$P-6: 2rem;

//MARGIN
$M-1: .25rem;
$M-2: .5rem;
$M-3: 1rem;
$M-4: 1.125rem;
$M-5: 1.5rem;
$M-6: 2rem;