$PRIMARY-50:  #ffffff;
$PRIMARY-100: #fafafa;
$PRIMARY-200: #f5f5f5;
$PRIMARY-300: #f0f0f0;
$PRIMARY-400: #dedede;
$PRIMARY-500: #c2c2c2;
$PRIMARY-600: #979797;
$PRIMARY-700: #818181;
$PRIMARY-800: #606060;
$PRIMARY-900: #3c3c3c;


$SECONDARY-50: #f8f8fb;
$SECONDARY-100: #f0f0f2;
$SECONDARY-200: #e5e5e8;
$SECONDARY-300: #d4d4d6;
$SECONDARY-400: #afafb2;
$SECONDARY-500: #8f8f91;
$SECONDARY-600: #676769;
$SECONDARY-700: #545456;
$SECONDARY-800: #363638;
$SECONDARY-900: #161618; /**/


$DARK-GRAY-50:  #f6fbfd;
$DARK-GRAY-100: #f1f7f8;
$DARK-GRAY-200: #ebf1f2;
$DARK-GRAY-300: #dee4e5;
$DARK-GRAY-400: #bcc1c2;
$DARK-GRAY-500: #9da2a3;
$DARK-GRAY-600: #74797a;
$DARK-GRAY-700: #606566;
$DARK-GRAY-800: #414546;
$DARK-GRAY-900: #202425; /**/

$PURPLE-50:  #fff4ff;
$PURPLE-100: #fbecfd;
$PURPLE-200: #f0e2f3;
$PURPLE-300: #dfd1e2;
$PURPLE-400: #bbadbd;
$PURPLE-500: #9a8d9c;
$PURPLE-600: #726574;
$PURPLE-700: #5e5260;
$PURPLE-800: #3f3441;
$PURPLE-900: #1e1420;


$DARK-GREEN-50:  #e0eeee;
$DARK-GREEN-100: #c0d3d1;
$DARK-GREEN-200: #9bb5b3;
$DARK-GREEN-300: #769795;
$DARK-GREEN-400: #5b817f;
$DARK-GREEN-500: #406c6a;
$DARK-GREEN-600: #365e5c;
$DARK-GREEN-700: #284b49;
$DARK-GREEN-800: #1b3837;
$DARK-GREEN-900: #0c2423;


$GREEN-50:  #edfcfc;
$GREEN-100: #e6f5f4;
$GREEN-200: #ddebeb;
$GREEN-300: #cddbdb;
$GREEN-400: #a9b7b7;
$GREEN-500: #8a9797;
$GREEN-600: #626f6f;
$GREEN-700: #4f5b5b;
$GREEN-800: #313c3c;
$GREEN-900: #111c1c;

$WHITE-10: hsl(0 0% 100% / 0.013);
$WHITE-20: hsl(0 0% 100% / 0.023);
$WHITE-30: hsl(0 0% 100% / 0.033);
$WHITE-40: hsl(0 0% 100% / 0.043);
$WHITE-100: hsl(0 0% 100% / 0.113);
$WHITE-200: hsl(0 0% 100% / 0.213);


//PADDING
$PXS: .25rem;
$PS: .5rem;
$PM: 1rem;
$PL: 1.125rem;
$PXL: 1.5rem;
$PXXL: 2rem;

//MARGIN
$MXS: .25rem;
$MS: .5rem;
$MM: 1rem;
$ML: 1.125rem;
$MXL: 1.5rem;
$MXXL: 2rem;