.sportsMenu{
    border-bottom: 1px solid $SECONDARY-800;
    margin-bottom: $M-4;

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    
        button, a{
            letter-spacing: 1px;
            gap: .5rem;
            padding-block: $P-4;
    
            &:hover{
                color: $SECONDARY-100;
            }
        }
    }
}