.eventHeader{
    background-color: $WHITE-3;
    padding: $P-2 $P-3;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .tournamentName{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}