.button{
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    color: $SECONDARY-200;

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }

    &:not(.unstyled){ //this style applied all classes except .unstyled class
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        font-weight: 600;
    }

    &:is(.primary, .secondary, .tertiary){
        padding-inline: $P-3;
        height: 2rem;
        border-radius: .5rem;

        @media only screen and (max-width: $SM){
            font-size: 14px;
        }
    }

    &.primary{
        border: 2px solid $SECONDARY-800;

        &:hover{
            background-color: $SECONDARY-800;
        }

        &.active{
            background-color: $GREEN-400;
            color: $BLACK-12;
        }
    }

    &.secondary{
        background-color: $SECONDARY-800;

        &:hover{
            background-color: $SECONDARY-700;
        }
    }

    &.icon{
        display: flex;
        gap: .5rem;

        &:hover{
            color: $SECONDARY-100;
        }
    }

    &.tertiary{
        border: 2px solid $SECONDARY-800;

        &:hover{
            background-color: $SECONDARY-800;
        }

        &.active{
            background-color: $SECONDARY-800;
        }
    }

    &.underline{
        font-weight: 400;

        &:hover{
            text-decoration: underline;
        }
    }
}