.button{
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    color: $SECONDARY-200;
    font-weight: 600;

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }

    &:is(.primary, .secondary){
        padding-inline: $P-3;
        height: 2.25rem;
        border-radius: .5rem;
    }

    &.primary{
        border: 2px solid $SECONDARY-800;

        &:hover{
            background-color: $SECONDARY-800;
        }

        &.active{
            background-color: $GREEN-400;
            color: $BLACK-12;
        }
    }

    &.secondary{
        background-color: $SECONDARY-800;

        &:hover{
            background-color: $SECONDARY-700;
        }
    }

    &.icon{
        

        &:hover{
            color: $SECONDARY-100;
        }
    }

    &.tertiary{

    }

    &.underline{
        font-weight: 400;

        &:hover{
            text-decoration: underline;
        }
    }
}