.queryResult{
    height: 25rem;
    color: $SECONDARY-300;
    background-color: $SECONDARY-900;
    border: 1px solid $SECONDARY-800;
    border-radius: .5rem;
    box-shadow: $POPOVER-SHADOW;
    max-width: 20rem;
    overflow: hidden;

    .list{
        padding-block: $P-2;
    }
}