.queryResult{
    height: 25rem;
    color: $SECONDARY-300;
    background-color: $SECONDARY-900;
    border: 1px solid $SECONDARY-800;
    border-radius: .5rem;
    animation: contentAnimation 200ms ease-in-out;

    .list{
        padding-block: $P-2;

        .result{
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: $P-2;

            &:hover{
                background-color: $WHITE-3;
            }

            .slug{
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }
}


@keyframes contentAnimation {
    0%{
        top: calc(100% - 1rem);
    }
    100%{
        top: calc(100% + .5rem);
    }
}