.eventsHeader{
    display: flex;
    align-items: center;
    gap: .5rem;
    overflow: hidden;

    .tournamentLink{
        font-size: 14px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}