.datePickerContainer{
    right: 0;
    z-index: 14;
    
    .datePicker{
        display: flex;
        padding: $P-3;
        border: 1px solid $SECONDARY-800;
        background-color: $SECONDARY-900;
        box-shadow: $POPOVER-SHADOW;
        border-radius: .5rem;
        margin: 0;

        .day{
            width: 2.25rem;
            height: 2.25rem;
            color: $SECONDARY-200;
            border-radius: .5rem;

            &:hover{
                background-color: $SECONDARY-800;
            }
        }

        .previous, .next{
            width: 2.25rem;
            height: 2.25rem;
            background-color: transparent;
            border: 1px solid $SECONDARY-800;
            border-radius: .5rem;

            &:hover{
                background-color: $SECONDARY-800;
            }
        }
    }
        
    .today{
        color: $SECONDARY-200;
        font-weight: 600;
        background-color: $SECONDARY-800;
        border-radius: .5rem;
    }

    .selected{
        background-color: $GREEN-400;
        color: $SECONDARY-900 !important;
        border-radius: .5rem;
        font-weight: 600;

        &:hover{
            background-color: $GREEN-400 !important;
        }
    }
}