.rdp {
    --rdp-cell-size: 40px;
    --rdp-accent-color: $GREEN-400;
    --rdp-background-color: $SECONDARY-800;
    /* Switch to dark colors for dark themes */
    --rdp-accent-color-dark: #3003e1;
    --rdp-background-color-dark: #180270;
    /* Outline border for focused elements */
    --rdp-outline: 2px solid var(--rdp-accent-color);
    /* Outline border for focused and selected elements */
    --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
  }
.datePickerContainer{

    .datePicker{
        
        .rdp{

        border: 1px solid $SECONDARY-800;
        background-color: red;
        padding: $P-3;
        }
    }
    .today{
        color: $GREEN-400;
    }

    .month{
        background-color: $BLACK-1;
        border: 1px solid $SECONDARY-800;
    }
}