.team{
    position: relative;

    .disposition{
        position: absolute;
        right: .5rem;
        top: .25rem;
        font-size: 18px;
        font-weight: 500;
    }

    &.away{
        .disposition{
            left: .5rem;
        }

        .playerList{
            flex-direction: row-reverse;
        }
    }

    .playerList{
        display: flex;
        gap: 2rem;
        height: 100%;

        .playerLine{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}