.search{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $P-2 $P-3;
    border-radius: .5rem;
    color: $SECONDARY-500;
    border: 1px solid transparent;
    font-weight: 500;
    cursor: default;
    transition: 200ms border-color ease-in-out;

    &:hover{
        border-color: $GREEN-400;
    }

    @media only screen and (max-width: $SM){
        display: none;
    }
}
