.search{
    background-color: $SECONDARY-800;
    width: 20rem;
    display: flex;
    align-items: center;
    padding: $P-2;
    gap: .5rem;
    border-radius: .25rem;
    
    input{
        background-color: transparent;
        color: $PRIMARY-100;
    }

    .searchIcon{

    }
}