.rating{
    font-weight: 500;
    padding: $P-1;
    border-radius: .25rem;
    font-size: 12px;
    color: $PRIMARY-100;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;

    &.low{
        background-color: $BADGE-LOSE;
    }

    &.medium{
        background-color: $BADGE-DRAW;
    }

    &.high{
        background-color: $BADGE-WIN;
    }
}