.h2hRow{
    overflow: hidden;
    display: grid;
    border-bottom: 1px solid $WHITE-3;
    padding: $P-2;
    grid-template-columns: 1fr minmax(10rem, 1fr) 30px 1fr;
    grid-template-areas: 
        "eventDate home homeScore badge"
        "eventDate away awayScore badge"
    ;

    &:hover{
        background-color: $WHITE-3;
    }

    .team{
        display: flex;
        align-items: center;
        gap: .5rem;
        padding-inline: $P-2;
        position: relative;
        
        .name{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-inline: $P-1;
            border-radius: .25rem;
            font-size: 13px;

            &.mark{
                font-weight: 700;
                background-color: $SECONDARY-800;
            }
        }

        &.home{
            grid-area: home;
        }

        &.away{
            grid-area: away;
        }
    }

    .score{
        font-weight: 700;
        text-align: center;

        &.home{
            grid-area: homeScore;
        }

        &.away{
            grid-area: awayScore;
        }
    }

    .eventDate{
        grid-area: eventDate;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: 500;
    }
}