.navLink{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    &.primary{
        gap: .5rem;
        padding-block: .5rem;
        font-weight: 500;
        white-space: nowrap;

        @media only screen and (max-width: $SM){
            font-size: 13px;
        }
    
        &:hover{
            color: $SECONDARY-100;
        }

        &.active{
            position: relative;
            color: $SECONDARY-100;
    
            &::before{
                position: absolute;
                content: '';
                bottom: 0;
                height: 3px;
                width: calc(100%);
                border-radius: .5rem;
                background-color: $GREEN-400;
            }
        }
    }

    &.secondary{
        height: 3rem;
        padding-inline: $P-2;
        border-radius: .5rem;
        border: 2px solid $SECONDARY-800;
        gap: .5rem;
        white-space: nowrap;

        &:hover{
            background-color: $SECONDARY-800;
        }

        &.active{
            background-color: $GREEN-400;
            color: $BLACK-12;
        }

        @media only screen and (max-width: $SM){
            height: 2.5rem;
        }
    }

    &.tertiary{
        flex-direction: column;
        gap: .25rem;
        color: $SECONDARY-500;

        &.active{
            color: $SECONDARY-100;
            position: relative;

            &::before{
                position: absolute;
                content: '';
                bottom: -.5rem;
                height: .25rem;
                width: .25rem;
                border-radius: 50%;
                background-color: $GREEN-400;
            }
        }
    }
}