.formationList{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .playerList{
        .playerInfo{
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: $P-2;

            .playerNumber{
                width: 1.5rem;
                height: 1.5rem;
                font-weight: 600;
                text-align: center;
            }

            .playerName{
                font-weight: 500;
                
                &:hover{
                    text-decoration: underline;
                    text-decoration-color: $GREEN-400;
                }
            }

            .badges{
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }

        .awayPlayerInfo{
            flex-direction: row-reverse;
        }
    }
}