.container{
        height: calc(100% - 6.225rem);

        @media only screen and (max-width: $SM){
            height: 100%;
        }
        
        .sportTimezone{
            height: 100%;
            overflow: auto; // For firefox
            overflow: overlay;
            flex: 1;
            background-color: $WHITE-3;
            padding-inline: $P-3;
            padding-block: $P-3 $P-6_125rem;
            border-radius: .5rem;
            scrollbar-width: thin; /* For Firefox */
            scrollbar-color: $SECONDARY-800 transparent;

            @media only screen and (max-width: $SM){
                padding-inline: 0;
            }

            &::-webkit-scrollbar {
                width: .25rem;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $SECONDARY-800;
                border-radius: 1rem;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $SECONDARY-700;
            }
        }
}